<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tic_tac_toe">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidprj">

        <activity android:name="com.example.android_prj.HeuristicRuleBasesAI"
            android:exported="true" ></activity>
        <activity
            android:name="com.example.android_prj.HorsLigne_menu"
            android:exported="true" />

        <activity
            android:name="com.example.android_prj.EnLigne_menu"
            android:exported="true" />

        <activity android:name="com.example.android_prj.MiniMaxActivity"
            android:exported="true"></activity>

        <activity android:name="com.example.android_prj.Credits" />
        <activity android:name="com.example.android_prj.HowToPlay" />
        <activity android:name="com.example.android_prj.Dashboard" />

        <activity android:name="com.tic_tac_toe.view.TwoPlayerActivityBluetooth"></activity>
        <activity android:name="com.tic_tac_toe.control.DeviceListActivity" />
        <activity android:name="com.tic_tac_toe.view.LoginActivity" android:exported="true"/>
        <activity android:name="com.example.android_prj.PerfectComputerLogic" />

        <activity android:name="com.example.android_prj.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>